.dashboard-container {
	height: 100%;
	min-width: 100vw;
	min-height: 100vh;
}

.dashboard-table-container {
	width: 90%;
	height: 100vh;
	min-height: 600px;
	max-width: 100%;
	padding: 0.2em;
	margin: 0 auto;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}


/* Dashboard table styles */
main.table {
	width: 82vw;
	height: 92vh;
	box-shadow: 0 .4rem .8rem #0005;
	border-radius: .8rem;
	overflow: hidden;
}

.table-header {
	width: 100%;
	height: 10%;
	background-color: #fff4;
	padding: 0.8rem 1rem;
}

.table-body {
	width: 95%;
	max-height: calc(89% - .8rem);
	background-color: #fffb;
	margin: .8rem auto;
	border-radius: .6rem;
	overflow: auto;
}

.table-body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb {
	border-radius: .5rem;
	background-color: #0004;
	visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}



table, th, td {
	padding: 1rem;
	border-collapse: collapse;
}

table {
	width: 100%;
}

thead th {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
	background-color: #00000b;
}

tbody tr:hover {
	background-color: #fff6;
}

.side-menu-menu-icon:hover {
	background-color: #ccc;
	border-radius: 50%;
	transition: background-color .1s ease-in;
}

.status {
	padding: .4rem 0;
	border-radius: 2rem;
}

.status.closed {
	background-color: cornflowerblue;
}

.status.open {
	background-color: #ccc;
}


.side-menu-div {
	background-color: #f3f5f7;
	box-shadow: 0 0 15px black;
	border-radius: 10px;
	position: absolute;
	top: 30%;
	right: 5px;
	z-index: 1000;
}

.side-list-item {
	margin-bottom: 1px;
	padding: .5em;
}

.side-list-item:hover {
	color: green;
	transition: color 0.1s ease-in;
}

.side-menu-icon {
	padding: 0 .2em;
	margin-right: .3em;
}

.side-menu-list {
	padding: 0;
	margin: 0;
	height: 100%;
}
