.dashboard-container {
	height: 100%;
	min-width: 100vw;
	min-height: 100vh;
}

.dashboard-table-container {
	width: 90%;
	height: 100vh;
	min-height: 600px;
	max-width: 100%;
	padding: 0.2em;
	margin: 0 auto;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}


/* Dashboard table styles */
#dashboard-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 1px;
	table-layout: auto;
	min-width: 600px;
}

#dashboard-table th {
	background-color: #f3f5f7;
	position: sticky;
	top: 0;
	vertical-align: bottom;
	font-weight: normal;
	color: rgb(95, 94, 94);
}

#dashboard-table th, td {
	padding: 0.6em;
	border-top-width: 0;
	border-left-width: 0;
	position: relative;
}

#dashboard-table th:last-child, td:last-child {
	border-right-width: 0;
}

#dashboard-table tbody tr:nth-child(odd)  { background: #efefef; }
#dashboard-table tbody tr:nth-child(even) { background: #f5f5f5; }

#dashboard-table tbody tr:hover {
	background: #d2d2d2;
}

#dashboard-table tbody {
	white-space: nowrap;
}

#dashboard-table tr:last-child {
	border-bottom-width: 0;
}

#dashboard-table tr:last-child td {
	margin-bottom: 0;
}

.side-menu-menu-icon:hover {
	background-color: #ccc;
	border-radius: 50%;
	transition: background-color .1s ease-in;
}


.side-menu-div {
	background-color: #f3f5f7;
	box-shadow: 0 0 15px black;
	border-radius: 10px;
	position: absolute;
	top: 30%;
	right: 5px;
	z-index: 1000;
}

.side-list-item {
	margin-bottom: 1px;
	padding: .5em;
}

.side-list-item:hover {
	color: green;
	transition: color 0.1s ease-in;
}

.side-menu-icon {
	padding: 0 .2em;
	margin-right: .3em;
}

.side-menu-list {
	padding: 0;
	margin: 0;
	height: 100%;
}
