main.dashboard-container {
	min-width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	overflow: hidden;
}


/* Dashboard table styles */
.table-container {
	width: 100%;
	height: 95%;
	box-shadow: 0 .4rem .8rem #0005;
	border-radius: .8rem;
	overflow: auto;
}

.table-header {
	width: 100%;
	height: 10%;
	background-color: #fff4;
	padding: 0.8rem 1rem;
}

.table-body {
	width: 98%;
	height: 100%;
	max-height: calc(89% - 1.6rem);
	background-color: #fffb;
	margin: .8rem auto;
	border-radius: .6rem;
	overflow: auto;
}

.table-body td:last-child {
	position: relative;
	overflow: visible;
}

.table-body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb {
	border-radius: .5rem;
	background-color: #0004;
	visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

table, th, td {
	padding: 1rem;
	border-collapse: collapse;
	text-align: left;
}

table {
	width: 100%;
}

thead th {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
	background-color: #0000000b;
}

tbody tr:hover {
	background-color: #ccc;
}

.status {
	padding: .2rem .5rem;
	border-radius: 4px;
	text-align: center;
}

.status.Closed {
	background-color: cornflowerblue;
}

.status.Open {
	background-color: #ccc;
}

.side-menu-div {
	background-color: #f3f5f7;
	box-shadow: 0 0 15px black;
	border-radius: 10px;
	position: absolute;
	top: 30%;
	right: 5px;
	z-index: 1000;
	white-space: nowrap;
	min-width: 155px;
}

.side-list-item {
	margin-bottom: 1px;
	padding: .5em;
}

.side-list-item:hover {
	color: gray;
	transform: scale(1.05);
	transition: color 0.1s ease-in;
}

.side-menu-icon {
	padding: 0 .2em;
	margin-right: .3em;
}

.side-menu-list {
	padding: 0;
	margin: 0;
	height: 100%;
}

@media (max-width: 768px) {
	td:not(:first-of-type) {
		min-width: 12.1rem;
	}
}
