.dashboard-container {
	height: 100%;
	min-height: 100vh;
}

.dashboard-table-container {
	width: 80%;
	height: 100%;
	max-width: 100%;
	padding: 0.2em;
	margin: 0 auto;
}



/* Dashboard table styles */
#dashboard-table {
	width: 100%;
	margin: 0 auto;
	display: block;
	border-spacing: 0;
}

#dashboard-table th {
	background-color: #f3f5f7;
	position: sticky;
	top: 0;
	vertical-align: bottom;
	font-weight: normal;
	color: rgb(95, 94, 94);
}

#dashboard-table th, td {
	padding: 0.6em;
	border-top-width: 0;
	border-left-width: 0;
	position: relative;
}

#dashboard-table th:last-child, td:last-child {
	border-right-width: 0;
}

#dashboard-table tbody tr:nth-child(odd)  { background: #e0e0e0; }
#dashboard-table tbody tr:nth-child(even) { background: #f3f5f7; }

#dashboard-table tbody tr:hover {
	background: #d2d2d2;
}

#dashboard-table tbody {
	white-space: nowrap;
}

#dashboard-table tr:last-child {
	border-bottom-width: 0;
}

.side-menu-menu-icon:hover {
	background-color: #ccc;
	border-radius: 50%;
	transition: background-color .1s ease-in;
}

.side-menu-div {
	background-color: #f3f5f7;
	box-shadow: 0 0 15px black;
	border-radius: 10px;
	position: absolute;
	top: 30%;
	right: 5px;
	z-index: 1000;
}

.side-list-item {
	margin-bottom: 1px;
	padding: .5em;
}

.side-list-item:hover {
	cursor: pointer;
	background-color: #f9f9f9;
	transition: background-color 0.1s ease-in;
}

.side-menu-icon {
	padding: 0 .2em;
	margin-right: .3em;
}

.side-menu-list {
	padding: 0;
	margin: 0;
	height: 100%;
}

/* responsive config */

/* ----------- end dashboard table styles ----------------------*/
