.no-data-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 80vh;
	padding-top: 50px;
	width: 300px;
}

.no-data-content {
	text-align: center;
	max-width: 300px;
}

.no-data-image {
	width: 50%;
	max-width: 300px;
	height: 50%;
	margin: 0 auto;
	display: block;
}

.no-data-message {
	margin-top: 2rem;
	font-size: 1.125rem;
	color: #4a5568;
	line-height: 1.6;
}

@media (max-width: 768px) {
	.no-data-container {
		padding-top: 70px;
	}

	.no-data-image {
		max-width: 250px;
	}

	.no-data-message {
		font-size: 1rem;
		margin-top: 1.5rem;
	}
}